@import "tailwindcss";

html,body{
  height: auto;
  color: #e8e8e8;
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(to right, #38105e, #8962ab, #372f64);
}

/* section1 */
.pinkbtn {
  @apply border border-gray-200 px-10 pb-3 pt-4 my-5 rounded-xl text-white cursor-pointer hover:scale-95 transition duration-300 hover:bg-[#9D4EDD]
}

/* footer  */
.hoverpink:hover {
  @apply text-red-800 inline-block transition duration-300 hover:scale-110

}

.socialMedia {
  @apply bg-[#10002B] rounded-full px-2 py-1
  hover:bg-red-800 text-white
}

.bounce{
  animation-name: bounce;
  animation-duration: 3s;
}
@keyframes bounce {
  from{
    scale: 0.1;
    opacity: 0;
  }
  to{
    scale: 1;
  }
}